.post {
  border: 1px solid var(--color-border);
  background-color: var(--color-secondary);
  border-radius: 2px;
}

/* Header */
.headerWrapper {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.6rem;
}

.userWrapper {
  display: flex;
  align-items: center;
}

/* .imageWrapper {
  height: 4.2rem;
  width: 4.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
} */

.image {
  height: 3.2rem;
  width: 3.2rem;
  display: block;
  border-radius: 100px;
}

.username {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.0125rem;
  margin-left: 1rem;
}

.username:hover {
  text-decoration: underline;
  cursor: pointer;
}

.moreOptions:hover {
  cursor: pointer;
}

/* Media */
.mediaWrapper {
  max-width: 61.4rem;
  width: 100%;
}

.media {
  display: block;
  width: 100%;
  /* border: 1px solid red; */
}

.media:hover {
  cursor: pointer;
}

/* Stats */
.stats {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.statsExpanded {
  border-top: 1px solid var(--color-border);
  padding: 1.6rem;
}

.statsTimeExpanded {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--color-text-light);
  margin-top: 1rem;
}

.statsIcon:hover {
  cursor: pointer;
}

.controls {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
  padding-top: 0.4rem;
}

.controlsLeft {
  flex: 0 1 9.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}
/* .controlsRight {} */

.postLikes {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-text-dark);
}

/* Descriptions */
.description {
  margin-top: 0.8rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  max-width: 58.2rem;
  width: 1;
  font-size: 1.4rem;
  color: var(--color-text-dark);
}

.descUsername {
  font-weight: 600;
  /* margin-right: .2rem; */
}

.descUsername::after {
  content: ' ';
}

/* Comments */
.commentsWrapper {
  padding: 0 1.6rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.commentsToggler {
  color: var(--color-text-light);
  margin-bottom: 0.4rem;
}

.commentsToggler > *:hover {
  cursor: pointer;
}

/* .comments {
} */

/* Post Date */
.postDate {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  text-transform: uppercase;
  font-size: 1.1rem;
  padding: 0 1.6rem;
  color: var(--color-text-light);
}

.postDate:hover {
  cursor: pointer;
}

/* Add Comment */
.addComment {
  display: flex;
  align-items: center;
  height: 6.4rem;
  padding: 0 1.6rem;
  border-top: 1px solid var(--color-border);
}
.emojis {
  display: flex;
  align-items: center;
  margin-right: 1.6rem;
}

.inputWrapper {
  display: flex;
  flex: 1;
}

.input {
  width: 0;
  flex: 1;
  color: var(--color-text-light);
  border: none;
  font-size: 1.4rem;
}

.input:focus {
  outline: none;
}

.input:focus {
  color: var(--color-text-dark);
}

.buttonWrapper {
  display: flex;
  align-items: center;
}

/* Expanded */

.overflow {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9998;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.48);
}

.expanded {
  position: absolute;
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
